<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Learning Socket.io</title>

  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <container class="container">
    <div id="login-page">
      <section id="nick_name_section">
        <label for="nick_name">Name:</label>
        <input type="text" id="nick_name">
        <button id="change_nick_name" class="btn btn-secondary">Go chat!</button>
      </section>
    </div>
    <div id="chat-page">
      <span class="users"></span>
      <h3>Chat</h3>
      <section>
        <div disabled id="messages" name="story" rows="15" cols="50">
        </div>
      </section>
      <section id="input_message">
        <label for="send_message">Message:</label>
        <input type="text" id="send_message">
        <button id="send" class="btn btn-secondary">Send</button>
      </section>
    </div>
     
      <div class="clear"></div>    
  </container>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="chat.js"></script>
</body>

</html>